<div class="wraper">
    <span>Filter: </span>
    <input type="radio" name="filter" value="All"
     [(ngModel)]="selectedButton"
     (change)="buttonChangeMethod()">
    <span>All Cources({{all}}) </span>
    <input type="radio" name="filter" value="Free"
     [(ngModel)]="selectedButton"
     (change)="buttonChangeMethod()">
    <span>Free Cources({{free}}) </span>
    <input type="radio" name="filter" value="Premium"
     [(ngModel)]="selectedButton"
     (change)="buttonChangeMethod()">
    <span>Premium Cources({{pre}})</span>
</div>
